# General
.git
.gitignore
README.md
DEVELOPMENT.md
.env
.DS_Store

# Frontend
frontend/node_modules
frontend/dist
frontend/.vite
frontend/.nuxt
frontend/.next
frontend/.svelte-kit

# Backend
backend/target
backend/.mvn/wrapper/maven-wrapper.jar
backend/.mvn/wrapper/maven-wrapper.properties
backend/mvnw
backend/mvnw.cmd

# Database
database/pgdata

# Docker
Dockerfile
Dockerfile.dev
docker-compose.yml
docker-compose.dev.yml
.dockerignore

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
*.log
logs

# OS
Thumbs.db